{% extends "home/base.html" %}


{% block content %}
<br><br>
<div class="user_div">
    <div class="container">
        <div class="col-xs-10 col-xs-offset-2">
            <div class="row">
                <div class="container">
                <h2 class="btn btn-default btn-lg btn-block">{{ category }} category</h2>
                <hr>
                {% if categories %}
                    {% for category in categories %}
                        <section class="my-5">
                          <div class="row">
                            <div class="col-lg-5">
                              <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                                {% if category.image %}
                                <img class="profileimg text-center img-fluid" src="{{ category.image.url }}" alt="Sample image">
                                {% endif %}
                                  <a>
                                  <div class="mask rgba-white-slight"></div>
                                </a>
                              </div>
                            </div>
                            <div class="col-lg-7">
                              <h3 class="font-weight-bold mb-3"><strong>{{ category.name }} | Posts count: {{ category.count_posts }}</strong></h3>
                              <p>{{ category.content|truncatechars:750 }}</p>
                              <a href="{% url "post:category_detail_view" slug=category.name %}" class="btn btn-success"><i class="fa fa-clone left"></i>Posts from this category</a>
                            </div>
                          </div>
                        </section>
                    {% endfor %}
                {% else %}
                    <h3 class="alert alert-info text-center">Ops, we haven't categories</h3>
                {% endif %}
            </div>

            </div>

        </div>
        </div>
    </div>

{% endblock %}
