{% extends "home/base.html" %}


{% block content %}
    <div class="container">
        <div class="col-xs-8 col-xs-offset-2">
            <h2>{{ title }} rate</h2>

            {% if posts %}
                {% for post in posts %}
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <h3>{{ post.content|truncatechars:20 }}</h3>
                    <h4>User: {{ post.user.username }} | Article rate: {{ post.rate }} | Views: {{ post.views }}</h4>
                    <h4>Upload at: {{ post.timestamp|timesince }} ago</h4>
                {% endfor %}
            {% else %}
                    <h2 class="alert alert-info">Ops, we haven't articles with this rate</h2>
                {% endif %}

        </div>
    </div>
{% endblock %}
