{% extends "home/base.html" %}


{% block content %}
<br><br>
<div class="user_div">
    <div class="container">
        <div class="row">
            <div class="col-10 col-xs-offset-2">
                <div class="container">
                <h2 class="btn btn-default btn-lg btn-block">{{ title }} rate</h2>
                <hr>
                </div>

                {% if posts %}
                    <div class="row">
                    {% for post in posts %}
                        {% if forloop.counter0|divisibleby:3 %}
                            </div><br><br><div class="row">
                        {% endif %}
                            <div class="view_cat col-xs-12 col-sm-6 col-md-4 post-choose">
                                <div class="card card-cascade width_card">
                                  <div class="view view-cascade overlay">
                                      {% if post.image %}
                                          <div class="view zoom">
                                            <img src="{{ post.image.url }}" class="img-fluid " alt="">
                                        </div>
                                          <div class="mask flex-center rgba-black-strong">
                                            <p class="white-text">Author: {{ post.user.username }}</p>
                                        </div>
                                    {% endif %}
                                  </div>
                                  <div class="card-body card-body-cascade text-center">
                                    <h4 class="card-title"><strong><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></strong></h4>
                                    <h6 class="font-weight-bold indigo-text py-2">{{ post.content|truncatechars:20 }}</h6>
                                    <p class="card-text"> User: <a href="{{ post.get_user_url }}">{{ post.user.username }}</a> | Article rate: {{ post.rate }} | Views: {{ post.views }}</p>
                                    <a href="{{ post.get_absolute_url }}" class="btn peach-gradient btn-lg ">Read more</a>
                                  </div>
                                </div>
                            </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <h3 class="alert alert-info text-center">Ops, we haven't posts with this rate</h3>
                {% endif %}

            </div>
        </div>
        </div>
    </div>

{% endblock %}
