{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-8 col-xs-offset-2">
            <h2>{{ post.title }}</h2>
            <h3>{{ post.content|truncatechars:20 }}</h3>
            <h4>User: {{ post.user.username }} | Article rate: {{ post.rate }} | Views: {{ post.views }}</h4>
            <h4>Upload at: {{ post.timestamp|timesince }} ago</h4>
            <br>
            {% if request.user == post.user %}
            <a href="{{ post.edit_post }}" class="btn btn-success">Edit post</a>
            <a href="{{ post.delete_post }}" class="btn btn-danger">Delete post</a>
            {% endif %}
            <h4>Total likes: {{ post.total_likes }}</h4>
            {% if not check_like %}
                <a href="{% url "post:like_page" id=post.id%}" class="btn btn-primary">Like</a>
            {% else %}
                <a href="{% url "post:like_page" id=post.id%}" class="btn btn-warning">Remove like</a>
            {% endif %}

        </div>
    </div>
{% endblock %}
