{% extends "home/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div style="background: linear-gradient(#f5f7fa, #c3cfe2);">
    <div class="container" style="">
        <div class="col-xs-8 col-xs-offset-2">
            <img src="{{ post.image.url }}" alt="" class="imgdetail">

            <style>
                .imgdetail {
                    width: 400px;
                }
            </style>
            <br>
            <br>
            <br>
            <h2>{{ post.title }}</h2>
            <h3>{{ post.content }}</h3>
            <h4>User: <a href="{{ post.get_user_url }}">{{ post.user.username }}</a> | Article rate: {{ post.rate }} | Views: {{ post.views }}</h4>
            <h4>Upload at: {{ post.timestamp|timesince }} ago</h4>
            {% if request.user == post.user %}
            <a href="{{ post.edit_post }}" class="btn btn-success">Edit post</a>
            <a href="{{ post.delete_post }}" class="btn btn-danger">Delete post</a>
            {% endif %}
            <hr>
            {% if not check_like %}
                <a href="{% url "post:like_page" id=post.id%}" class="btn btn-primary">Like</a>
            {% else %}
                <a href="{% url "post:like_page" id=post.id%}" class="btn btn-warning">Remove like</a>
            {% endif %}
            <br><br>
            <h4>Total likes: {{ post.total_likes }}</h4>
            <hr>
            {% if request.user.is_authenticated %}
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit"class="btn btn-success">
                </form>
            {% else %}
                <h2>If you want to add new comments, you must be register</h2>
            {% endif %}
            <hr>
            <h2>All comments:</h2>
            <br>
            {% if comments %}
                {% for comment in comments %}

                      <div class="row">
                        <div class="col-md-12">
                          <div class="mdb-feed">
                            <div class="news">
                              <div class="label">
                                {% if comment.userprofile.image %}
                                    <img src="{{ comment.userprofile.image.url }}" class="rounded-circle z-depth-1-half">
                                {% endif %}
                              </div>
                              <div class="excerpt">
                                <div class="brief">
                                  <a class="name">{{ comment.user }}</a>
                                  <div class="date">{{ comment.timestamp|timesince }} ago</div>
                                </div>
                                <div class="added-text">{{ comment.content }}</div>
{#                                <div class="feed-footer">#}
{#                                  <a class="like">#}
{#                                    <i class="fa fa-heart"></i>#}
{#                                    <span>7 likes</span>#}
{#                                  </a>#}
{#                                </div>#}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <br>
                {% endfor %}

            {% else %}
                <br>
                <h2 class="alert alert-info">Ops, we haven't comments for this post</h2>
            {% endif %}



        </div>
    </div>
</div>
<style>
    .asteriskField {
        display: none;
    }
</style>
{% endblock %}
