{% extends "home/base.html" %}


{% block content %}
    <div class="container">
        <div class="col-xs-8 col-xs-offset-2">
            <h2>Choose article's rate</h2>

            {% if request.user.is_authenticated %}
                !
            {% endif %}

            <a href="{% url "post:high_middle_low_rate" slug='high_rate' %}" class="btn bg-info">High</a>
            <a href="{% url "post:high_middle_low_rate" slug='middle_rate' %}" class="btn bg-info">Middle</a>
            <a href="{% url "post:high_middle_low_rate" slug='low_rate' %}" class="btn bg-info">Low</a>

            <br>

            {% if request.user.is_staff or request.user.is_superuser %}
                <br>
                <a href="{% url "post:create_post" %}" class="btn btn-success">Add new post</a>
            {% endif %}
            {% if posts %}
                {% for post in posts %}
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <h3>{{ post.content|truncatechars:20 }}</h3>
                    <h4>User: {{ post.user.username }} | Article rate: {{ post.rate }} | Views: {{ post.views }}</h4>
                    <h4>Upload at: {{ post.timestamp|timesince }} ago</h4>
                {% endfor %}
            {% else %}
                <h2>Ops, we haven't articles with this rate</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}
