{% extends "home/base.html" %}


{% block content %}
    <br><br>
    <div style="background: linear-gradient(#f5f7fa, #c3cfe2);">
    <div class="container-fluid">

        <div class="row">
            <div class="col-1"></div>
            <div class="col-8">
            <h2>Choose article's rate</h2>


            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{% url "post:high_middle_low_rate" slug='high_rate' %}" class="btn blue-gradient btn-rounded">High</a>
                <a href="{% url "post:high_middle_low_rate" slug='middle_rate' %}" class="btn aqua-gradient btn-rounded">Middle</a>
                <a href="{% url "post:high_middle_low_rate" slug='low_rate' %}" class="btn blue-gradient btn-rounded">Low</a>
            </div>
            <br>
            <hr>
                <br>
            {% if request.user.is_staff or request.user.is_superuser %}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" href="{% url "post:category_view" %}">Category</a>
                    <br>
                    <br>
                    <a href="{% url "post:create_post" %}" class="btn btn-success">Add new post</a>
                    <br>
                </div>
                <br><br>
            {% else %}
                <a class="btn btn-primary" href="{% url "post:category_view" %}">Category</a>
            {% endif %}
            {% if posts %}
            <div class="row">
                {% for post in posts %}
                    {% if forloop.counter0|divisibleby:2 %}
                        </div><br><br><div class="row">
                    {% endif %}
                        <div class="col-xs-6 col-lg-3" style="margin-right: 140px; margin-bottom: 10px;">
                            <div class="card card-cascade width_card">
                              <div class="view view-cascade overlay">
                                  {% if post.image %}
                                      <div class="view zoom">
                                        <img src="{{ post.image.url }}" class="img-fluid " alt="">
                                    </div>
                                      <div class="mask flex-center rgba-black-strong">
                                        <p class="white-text">Author: {{ post.user.username }}</p>
                                    </div>
                                {% endif %}
                              </div>
                              <div class="card-body card-body-cascade text-center">
                                <h4 class="card-title"><strong><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></strong></h4>
                                <p class="card-text"> User: <a href="{{ post.get_user_url }}">{{ post.user.username }}</a> | Article rate: {{ post.rate }} Category: <a href="{% url "post:category_detail_view" slug=post.category.name %}">{{ post.category.name }}</a></p>
                                <a href="{{ post.get_absolute_url }}" class="btn peach-gradient btn-lg ">Read more</a>
                              </div>
                            </div>
                        </div>
                {% endfor %}
             {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-1" style="margin-left: 100px;">
                <h2>5 popular news:</h2>
                {% for popular_post in popular_posts %}
                    <img src="{{ popular_post.image.url }}" alt="" class="img-responsive ImgAddAjax rounded">
                    <h4><a href="{{ popular_post.get_absolute_url }}">{{ popular_post.title }}</a></h4>
                    <h5>{{ popular_post.timestamp }}</h5>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
        </div>

<style>
    .imgcls {
        width: 300px;
    }
    .ImgAddAjax{
        width: 220px;
        height: 220px;
    }
    .ImgAjax{
        height: 220px;
    }
    .card{
        width: 300px;
    }
    .width_card{
        height: 500px;
    }
</style>
        <hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-5" style="margin-left: 100px">
            <h2>Our best posts: </h2>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <p id="post-image"><img src="{{ posts.last.image.url }}" alt="" class="ImgAddAjax rounded"></p>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {% for popular_post in popular_posts %}
                            <h4 style="list-style-type:none "><a href="{{ popular_post.get_absolute_url }}" class="post" data-id="{{ popular_post.id }}">{{ popular_post.title }}</a></h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>

    <script>
        $(document).ready(function(){
            $('.post').on('mouseenter', function () {
                var post_id = $(this).attr('data-id');

                data = {
                    post_id: post_id
                };
                {#http://127.0.0.1:8000/media/0/4 #}
                $.ajax({
                    type: "GET",
                    url: '{% url "post:dynamic_image" %}',
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $('#post-image').html('<img class="ImgAjax rounded" src="http://127.0.0.1:8000'+data.post_image+'">')
                    }
                })

            })
        });
    </script>
{% endblock %}
