{% extends "home/base.html" %}


{% block content %}
    <div class="user_div">

    <br><br>
    <div class="container-fluid">

        <div class="row">
            <div class="col-1"></div>
            <div class="col-8">

            <h2>Choose article's rate</h2>


            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{% url "post:high_middle_low_rate" slug='high_rate' %}" class="btn blue-gradient btn-rounded">High</a>
                <a href="{% url "post:high_middle_low_rate" slug='middle_rate' %}" class="btn aqua-gradient btn-rounded">Middle</a>
                <a href="{% url "post:high_middle_low_rate" slug='low_rate' %}" class="btn blue-gradient btn-rounded">Low</a>
            </div>
            <br>
            <hr>
                <br>
            {% if request.user.is_staff or request.user.is_superuser %}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" href="{% url "post:category_view" %}">Category</a>
                    <br>
                    <br>
                    <a href="{% url "post:create_post" %}" class="btn btn-success">Add new post</a>
                    <br>
                </div>
                <br><br>
            {% else %}
                <a class="btn btn-primary" href="{% url "post:category_view" %}">Category</a>
            {% endif %}

            {% if posts %}
            <div class="row">
                {% for post in posts %}
                    {% if forloop.counter0|divisibleby:2 %}
                        </div><br><br><div class="row">
                    {% endif %}
                        <div class="home_div col-xs-6 col-lg-3">
                            <div class="card card-cascade width_card">
                              <div class="view view-cascade overlay">
                                  {% if post.image %}
                                      <div class="view zoom">
                                        <img src="{{ post.image.url }}" class="img-fluid " alt="">
                                    </div>
                                      <div class="mask flex-center rgba-black-strong">
                                        <p class="white-text">Author: {{ post.user.username }}</p>
                                    </div>
                                {% endif %}
                              </div>
                              <div class="card-body card-body-cascade text-center">
                                <h4 class="card-title"><strong><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></strong></h4>
                                <p class="card-text"> User: <a href="{{ post.get_user_url }}">{{ post.user.username }}</a> | Article rate: {{ post.rate }} Category: <a href="{% url "post:category_detail_view" slug=post.category.name %}">{{ post.category.name }}</a></p>
                                <a href="{{ post.get_absolute_url }}" class="btn peach-gradient btn-lg ">Read more</a>
                              </div>
                            </div>
                        </div>
                {% endfor %}
             {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="home_div_bot col-xs-1">
                <h2>Popular news:</h2>

                <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    </ol>

                    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 220px;">
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% for post in popular_posts %}
                                {% if forloop.first %}
                                  <div class="carousel-item active">
                                    <img class="first-slide" src="{{ post.image.url }}" style="width: 100%; height: 250px;" alt="First slide">
                                    <div class="container">
                                      <div class="carousel-caption text-left">
                                      </div>
                                    </div>
                                  </div>
                                {% else %}
                                  <div class="carousel-item">
                                    <img class="second-slide" src="{{ post.image.url }}" style="width: 100%; height: 250px;" alt="Second slide">
                                    <div class="container">
                                      <div class="carousel-caption">
                                      </div>
                                    </div>
                                  </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                </div>
            </div>
        </div>
    </div>
        </div>

        <hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="home_div_bot col-xs-5">
            <h2>Our best posts: </h2>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <p id="post-image"><img src="{{ posts.last.image.url }}" alt="" class="ImgAddAjax rounded"></p>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {% for popular_post in popular_posts %}
                            <h4 class="home_h4"><a href="{{ popular_post.get_absolute_url }}" class="post" data-id="{{ popular_post.id }}">{{ popular_post.title }}</a></h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    <script>
        $(document).ready(function(){
            $('.post').on('mouseenter', function () {
                var post_id = $(this).attr('data-id');

                data = {
                    post_id: post_id
                };
                $.ajax({
                    type: "GET",
                    url: '{% url "post:dynamic_image" %}',
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        $('#post-image').html('<img class="ImgAjax rounded" src="http://127.0.0.1:8000'+data.post_image+'">')
                    }
                })

            })
        });
    </script>

{% endblock %}
