{% extends "home/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<br><br>
<div style="background: linear-gradient(#f5f7fa, #c3cfe2);">
    <div class="container">
        <div class="col-xs-8 col-xs-offset-2">
            {% if user.id == request.user.id %}
            <h2>Welcome to your profile!</h2>
            {% else %}
                <h2>Welcome to {{ user.username }}'s profile!</h2>
            {% endif %}
            <br>
            <div class="user_account rounded">
                <h3>Username: {{ user.username }}</h3>
                <h3>Email: {{ user.email }}</h3>

                {% if userprofile.image %}
                    <h3>Profile image: </h3>
                    <img class="profileimg" src="{{ userprofile.image.url }}" alt="">
                {% else %}
                    <h3>Profile image: -</h3>
                {% endif %}
                <br>
                <br>
                {% if user.first_name %}
                    <h3>First name: {{ user.first_name }}</h3>
                {% else %}
                    <h3>First name: -</h3>
                {% endif %}
                {% if user.last_name %}
                    <h3>Last name: {{ user.last_name }}</h3>
                {% else %}
                    <h3>Last name: -</h3>
                {% endif %}<h4>Registration date: {{ user.date_joined }}</h4>
            </div>
            <br>
            {% if request.user == user %}
                <h2>Upload profile image:</h2>
                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-success">
                </form>
                <hr>

                <a href="{% url "logout_view" %}" class="btn btn-warning btn-lg">Logout</a>
            {% endif %}
                <a href="{% url "post:home_page" %}" class="btn btn-primary btn-lg">Back to posts</a>

        </div>
    </div>
    <br><br><br>
</div>
<style>
    .user_account{
        background: linear-gradient(#fdfbfb, #ebedee);
        border-radius: 100px;
        border-style: solid;
        border-width: 5px;
        border-color: #4c8bf5;
        padding: 20px;
    }
    .profileimg {
        width: 300px;
    }
</style>

{% endblock %}
