{% load staticfiles %}


<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/compiled.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <link rel="stylesheet" href="{% static "css/custom_style.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>

    {% block head %}
    {% endblock %}

</head>
<body class="user_div">

<nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url "start:home" %}">
        <strong>Python for everyone</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url "post:home_page" %}">Posts
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
          <ul class="navbar-nav nav-flex-icons">
              {% if request.user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">You: {{ request.user.username }}</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url "accounts:account" id=request.user.id %}">My account</a>
                        <a class="dropdown-item" href="{% url "accounts:account_change_profile" %}">Edit account</a>
                        <a class="dropdown-item" href="{% url "accounts:change_password" %}">Change password</a>
                        <form action="{% url "logout_view" %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="dropdown-item" value="Logout">
                        </form>
                    </div>
                  </li>
              {% else %}
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url "login_view" %}">Login</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url "register_view" %}">Register</a>
                      </li>
                    </ul>
              {% endif %}
          </ul>
      </div>
    </div>
  </nav>

<div class="user_div">
    <br><br>
    {% block content %}

    {% endblock %}
    <br>
</div>


    <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/compiled.min.js" %}"></script>
</body>
</html>