{% extends "home/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <br><br>
<div class="container">
    <h2>{{ title }} page</h2>
    <form method='POST' action='.'>
        {% csrf_token %}
        {{ form|crispy }}
        <input type='submit' class='btn btn-success' id="alert-target">
    </form>
</div>

<style>
    .asteriskField {
        display: none;
    }
</style>
{#<script>#}
{#    $("#alert-target").click(function () {#}
{#        toastr["info"]("Successfully {{ title }}ed")#}
{#    });#}
{#</script>#}
{% endblock content%}