{% load static %}

<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
    <link rel="stylesheet" href="{% static "css/custom2.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/compiled.min.css" %}">
    <link rel="stylesheet" href="{% static "css/custom_style.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url "start:home" %}">
        <strong>Python for everyone</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url "post:home_page" %}">Posts
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="start_div view">
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5">Welcome to my Blog!</h1>
            <hr class="hr-light">
            <h6 class="mb-4">There you can learn something new and very read interesting articles!</h6>
            <a href="{% url "post:home_page" %}" class="btn btn-white">Posts</a>
            {% if not request.user.is_authenticated %}
                <a href="{% url "login_view" %}" class="btn btn-outline-white">Login</a>
                <a href="{% url "register_view" %}" class="btn btn-outline-white">Register</a>
            {% else %}

            {% endif %}
          </div>
          <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
            <img src="https://images.idgesg.net/images/article/2017/08/python-100732474-large.3x2.jpg" alt="" class="img-fluid rounded-circle border border-primary">
          </div>
        </div>
      </div>
    </div>
  </div>

    <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/compiled.min.js" %}"></script>

</body>